<!-- {{#if updateGuestForm}}
<div>
  <form>
    <div class="form-group">
      <label for="paymentStatus">Payment Status</label>
      {{input value=paymentStatus id="paymentStatus"}}
    </div>

    <button {{action 'update' guest}}>Save</button>
  </form>
</div>
{{else}}
  <button {{action 'updateGuestForm'}}>Update</button>
{{/if}} -->
